.container {
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-bottom: 20px; 
}

.header-content {
  width: 100%;
  padding: 0 15px;
}

.logo {
  padding: 10px 0;
  text-align: center;
}

.logo a {
  display: inline-block;
}

.logo img {
  width: 165px;
}

.nav-main {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        margin: 0;
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}

.hotline a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #f00;
}

.hotline a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.section {
  &-title {
    margin: 0 0 20px 0;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }
}

.banner {
  img {
    width: 100%;
  }
}

.why {
  padding: 50px 0;
  background-color: #f4f9ff;
}

.why-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.why-item .image {
  width: 100%;
}

.why-item .info {
  width: 100%;
}

.why-item .image img {
  display: inline-block;
}

.steps {
  padding: 50px 0;
}

.steps-item {
  text-align: center;
  .image {
    position: relative;
  }
  .arrow {
    display: none;
  }
}

.list {
  margin-bottom: 40px;
  .right {
    img {
      width: 100%;
    }
  }
}

.list-item {
  .name {
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/arrow.png");
    }
  }
  .name,
  .description {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 21px;
  }
  &.first {
    display: none;
    .name,
    .description {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
    }
    .name {
      &::before {
        display: none;
      }
    }
  }
}

.registry {
  text-align: center;
  a {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    text-decoration: none;
    color: #fff;
    background-color: #f5ac1c;
    border-radius: 5px;
  }
}

.utility {
  padding: 40px 0;
  background: #f4f9ff;
  img {
    max-width: 100%;
    margin: 20px 0;
  }
}

.team {
  img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }
}


@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-main {
    width: calc(100% - 365px);
  }
  .logo {
    width: 165px;
  }
  .hotline {
    width: 200px;
  }
  .why-item {
    text-align: left;
  }
  .why-item .image {
    width: 147px;
  }
  .why-item .image img {
    width: 100%;
  }
  .why-item .info {
    width: calc(100% - 147px);
  }
  .steps {
    .container {
      display: flex;
    }
    &-item {
      width: 25%;
    }
    .arrow {
      display: block;
      position: absolute;
      top: 65px;
      right: -14px;
    }
  }
  .list-item {
    display: flex;
    align-items: flex-start;
    .name,
    .description {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
  .header {
    padding: 0;
  }
  .header-content {
    width: 992px;
    margin: 0 auto;
  }
  .list {
    .container {
      display: flex;
    }
    .left {
      width: 60%;
    }
    .right {
      width: 40%;
    }
    &-item {
      &.first {
        display: flex;
      }
    }
  }
  .team {
    .container {
      display: flex;
    }
    .left {
      width: 50%;
      padding-right:10px;
    }
    .right {
      width: 50%;
      padding-left:10px;
    }
  }
  .utility {
    .container {
      display: flex;
    }
    .left {
      width: 60%;
    }
    .right {
      width: 40%;
    }
    .registry {
      text-align: left;
    }
  }
}